.header-top{
    background: #21D375;
    height: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.header{
    height: 200px;
    background: #E6E6E6;
    display: flex;
    flex-direction: column;
    
}

.header-bottom{
    
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.icon-container{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 40px;
}

.hotro-container{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.hotro-container marquee{
    margin-right: 10px;
}

.tt-container{
    margin-left: 70px;
    gap: 30px
}


.logolibrary-container{
    height: 70%;
    width: 20%;
}

.logolibrary-container img{
    width: 40%;
    height: 100%;
    margin-left: 20px;
    margin-top: 10px;
}

.left-chia{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px; 
    
}

.left-chia img{
    width: 20px;
    height: 20px;
    margin-left: 3px;
    
}

.left-chia input{
    width: 580px;
    height: 21px;
    border: none;
    border-right: 0.5px solid rgba(128, 128, 128, 0.5);
    margin-left: 10px;
}

.left-chia button:hover{
    background: #BAE8DB;
}

.left-chia button{
    border: none;
    color: rgba(128, 128, 128, 0.5);
    background-color: white;
    height: 100%;
    width: 90px;
    border-top-right-radius: 10px; /* Góc bo tròn 10 pixel ở trên phải */
    border-bottom-right-radius: 10px; /* Góc bo tròn 10 pixel ở dưới phải */
}

.left-chia input:focus{
    outline: none;
    box-shadow: none;
}
.header-bottom-main{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
}

.main-top{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    margin-top: 15px;
}

.header-bottom-main-left{
    height: 100%;
    width: 60%;
}

.header-bottom-main-right{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo-home-container{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-right: 0.5px solid rgba(128, 128, 128, 0.5)
}

logo-home-container a{
    text-decoration: none;
}

.logo-home-container:hover{
    background: #BAE8DB;
    border-radius: 10px;
    cursor: pointer;
    
}

.logo-home-container a{
    font-size: 22px;
    color: rgba(128, 128, 128, 0.5);
    font-weight: 20px;
    
}

.logo-taikhoan-container{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-right: 0.5px solid rgba(128, 128, 128, 0.5);
    position: relative;
}

.logo-taikhoan-container:hover{
    background: #BAE8DB;
    border-radius: 10px;
    cursor: pointer;

}
.logo-taikhoan-container:hover ~ .popup {
    opacity: 1;
    pointer-events: auto;
}


.logo-taikhoan-container a{
    font-size: 22px;
    color: rgba(128, 128, 128, 0.5);
    font-weight: 50px;
}

.logo-chopheduyet-container{
    align-items: center;
    height: 100%;
    width: 50px;
    gap: 2px;
    
}
.logo-chopheduyet-container a{
    font-size: 22px;
    color: rgba(128, 128, 128, 0.5);
    font-weight: 50px;
}

.logo-chopheduyet-container:hover{
    background: #BAE8DB;
    border-radius: 10px;
    cursor: pointer;
}
.logo-chopheduyet-container i{
    margin-top: 8px;
    margin-left: 10px;
}

.end{
    background: #21D375;
    width: 100%;
    height: 10px;
}

.header-center{
    background: #E6E6E6;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 70px;
    height: 1000px;
}

.danhmuc-container{
    /*height: 100%;*/
    width: 15%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    align-items: center;
    margin-left: 45px;
    margin-top: 30px;
    border-radius: 10px;
    gap: 20px;
    height: 400px;  /*Đặt chiều cao của container */
    overflow-y: auto; /* Cho phép scroll theo chiều dọc */
    overflow-x: hidden; /* Ẩn scroll theo chiều ngang */
}
.Tieu_de {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.muc-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
    gap: 10px;
}
.muc{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    height: 40px;
    align-items: center;
    text-align: center

}

.muc:hover{
    background: #BAE8DB;
    border-radius: 10px;
    cursor: pointer;
}
.show-ds{
    width: 600px;
    display: flex;
    flex-direction: column;
    background: #E6E6E6;
    gap: 20px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 30px;
    height: 800px;
}

.show-ds-tieude{
    width: 100%;
    background: #21D375;
    
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}

.show-ds-tieude h5{
    margin-left: 250px;
}

.thanhtimkiem{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    background: #ffffff;
}

.thanhtimkiem img{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.thanhtimkiem input{
    width: 470px;
    height: 21px;
    border: none;
    border-right: 0.5px solid rgba(128, 128, 128, 0.5);
    margin-left: 5px;
}

.thanhtimkiem input:focus{
    outline: none;
    box-shadow: none;
}

.thanhtimkiem button{
    border: none;
    color: rgba(128, 128, 128, 0.5);
    background-color: white;
    height: 100%;
    border-top-right-radius: 10px; /* Góc bo tròn 10 pixel ở trên phải */
    border-bottom-right-radius: 10px; /* Góc bo tròn 10 pixel ở dưới phải */
    width: 94px;
}

.thanhtimkiem button:hover{
    background: #BAE8DB;
}

.show-ds-list{
    background: #ffffff;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.cell{
    display: flex;
    flex-direction: row;
    gap :10px;
    border: #21D375  0.2px;
    box-shadow: 0px 0px 10px 0px #21D375;
    border-radius: 10px;
}

.cell img{
    width: 80px;
    height: 100px;
}

.cell-con{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cell:hover{
    transform: scale(1.05); /* Phóng to khi hover */
    cursor: pointer;
}

.thongtinmuonsach{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 30px;
    height: 500px;
    
}

.thongtinmuonsach h5{
    background-color: #21D375;
    height: 50px;
    padding: 15px;
    text-align: center;
    
}
.c{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}