.TrangChuManager{
    height: 750px;
    background: #E6E6E6;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.danhmuc-item1{
    color: white;
    height: 100%;
    width: 150px;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.danhmuc-item1:hover{
    background-color: #21D375;
    cursor: pointer;
}
.danhmuc-item1.active{
    background-color: #21D375;
}
.dangxuat{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 900px;
    height: 100%;
    align-items: center;
}

.dangxuat:hover{
    background: #21D375;
}

.dangxuat i{
    font-size: 20px;
    margin-top: 10px;
    color: #FFFFFF;
}
.dangxuat h7{
    color: #FFFFFF;
    margin-top: 5px;
}
.trangchustaff_center{
    background: #E6E6E6;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 70px;
    height: 5000px;
}
.dms{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    margin-left: 20px;
    gap: 20px;
    align-items: center;
    overflow-y: auto; /* Cho phép scroll theo chiều dọc */
    overflow-x: hidden; /* Ẩn scroll theo chiều ngang */
}
.dms1{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    margin-left: 20px;
    gap: 20px;
    align-items: center;
    overflow-y: auto; /* Cho phép scroll theo chiều dọc */
    overflow-x: hidden; /* Ẩn scroll theo chiều ngang */
}
.tatcasach{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    padding: 20px;
    height: 100%;
    width: auto;
    
}
.item{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 10px;
    background: #ffffff;
    border-radius: 10px;
    border: #21D375  0.2px;
    box-shadow: 0px 0px 10px 0px #21D375;
    display: flex;
    flex-direction: column;
    height: 400px; 
    width: 250px;
    padding: 20px;
}

.item img{
    
    
    width: 200px;
    height: 200px; /* Đặt chiều cao bằng chiều rộng để tránh ảnh bị kéo dãn */
    
    
}
.item h5{
    margin-left: 10px;
    margin-right: 10px;
}

.tieude_tatca h5{
    margin-left: 450px;
}

.item:hover {
    transform: scale(1.05); /* Phóng to khi hover */
    cursor: pointer;
}
.sanpham1{
    width: 1000px;
    display: flex;
    flex-direction: column;
    background: #E6E6E6;
    gap: 20px;
    border-radius: 10px;
    margin: 15px;
    border: #21D375 0.2px;
    box-shadow: 0px 0px 10px 0px slategray;
    padding: 10px;
}

.tieude_tatca{
    width: 100%;
    background: #21D375;
    border-radius: 0px;
    height: 60px;
    align-items: center;
    text-align: center;
}

.timkiemsach{
    display: flex;
    flex-direction: row;
    width: 705px;
    height: 55.2px;
    align-items: center;
    border: 2px solid #21D375;
    border-radius: 10px;
    margin-left: 170px;
    
}

.timkiemsach img{
    width: 20px;
    height: 20px;
    margin-left: 3px;
    
}

.timkiemsach input{
    width: 580px;
    height: 21px;
    border: none;
    border-right: 0.5px solid rgba(128, 128, 128, 0.5);
    margin-left: 10px;
    background-color: transparent;
}

.timkiemsach button:hover{
    background: #BAE8DB;
}

.timkiemsach button{
    border: none;
    color: rgba(128, 128, 128, 0.5);
    background-color: transparent;
    height: 100%;
    width: 90px;
    border-top-right-radius: 10px; /* Góc bo tròn 10 pixel ở trên phải */
    border-bottom-right-radius: 10px; /* Góc bo tròn 10 pixel ở dưới phải */
}

.timkiemsach input:focus{
    outline: none;
    box-shadow: none;
}
.thongke{
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 1100px;
    background: #E6E6E6;
    border: #21D375;
    box-shadow:  0px 0px 10px 0px slategray;
}
.tieudethongke{
    background: #21D375;
    align-items: center;
    text-align: center;
    height: 50px;
    align-content: center;
    
}

.bieudo {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    gap: 20px;
}
.bieudo TableContainer{
    width: 500px;
    height: 500px;
}

.bieudo1{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    
    
}

.thongketheothoigian{
    display: flex;
    flex-direction: column;
}
.nhapyeucau{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nhapyeucau_thoigian{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.thongke_btn{
    background: #21D375;
    border: none;
    height: 30px;
    width: 100px;
    margin-left: 150px;
}
.lamlaibtn{
    background: aquamarine;
    border: none;
    height: 30px;
    width: 100px;
    
}

.tungay{
    gap: 10px
}

.thongketheoyeucau{
    display: flex;
    flex-direction: column;
    gap: 30px;
}